
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#home {
  background-color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  background-color: black;
  width: 100%;
  height: 100%;
  margin: 0 60px;
  display: flex;
  flex-direction: column;
}
nav {
  display: flex;
  height: 100px;

  justify-content: space-between;
}
.container nav ul {
  display: flex;
  list-style: none;
  margin: 45px 10px;
}
.container nav ul a {
  text-decoration: none;
  color: red;
  font-family: arial;
  margin: 0 20px;
  transition: 0.3s;
}
.container nav ul a:hover {
  text-decoration: underline aliceblue 2px;
  font-size: 20px;
}
nav img {
  width: 60px;
  height: 60px;
  margin: 25px 30px;
  border-radius: 50%;
}
nav img:hover {
  animation-name: img;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes img {
  0% {
    rotate: 30deg;
  }
  50% {
    rotate: 60deg;
  }
  60% {
    rotate: 90deg;
  }
  85% {
    rotate: 120deg;
  }
  100% {
    rotate: 180deg;
  }
}
.con {
  height: 100%;

  display: flex;
  justify-content: space-between;
}
.text h1 {
  font-weight: 900;
  color: red;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 10px;
  width: 300px;
  padding: 11px;
  transition: width 1s;
}
.text h1:hover {
  background-color: azure;
  border-radius: 20px;
  width: 400px;
  text-align: center;
}
.text h1 span {
  font-size: 50px;
}
.btn {
  text-decoration: none;
  color: rgb(20, 19, 19);
  background-color: white;
  border-radius: 30px;
  width: 50px;
  padding: 10px;
  font-family: arial;
}
.con img {
  width: 180px;
  height: 350px;
  border-radius: 45px;
  margin-top: 40px;
  margin-left: 300px;
  animation-name: r;
  animation-duration: 1.5s;
}
.text {
  margin-top: 80px;
  margin-left: 10px;

  width: 550px;
}
.text p {
  display: block;
  margin-bottom: 30px;
  color: red;
  margin-bottom: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.btn:hover {
  background-color: transparent;
  border: 1px red solid;
  color: white;
}
.cos i {
  color: azure;
  font-size: 30px;
  transition: 0.3s;
}
.cos i:hover {
  font-size: 40px;
}
.cos {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 60px;

  justify-content: center;
  align-items: center;

  height: 250px;
  margin-top: 100px;
}
.t {
  display: flex;
  justify-content: center;

  width: 150px;
  height: 80px;
  margin-left: 500px;

  align-items: center;
  margin-bottom: 50px;
}
.t img {
  width: 80%;
  height: 100%;
  border-radius: 10px;
  transition: 0.3s;
}
.t img:hover {
  width: 100%;
}
@keyframes r {
  0% {
    translate: 500px 0;
    rotate: 90deg;
  }
  50% {
    translate: 100pxpx 0;
    rotate: 90deg;
  }
  100% {
    translate: 0 0;
  }
}
@media (max-width: 700px) {
  #home {
    background-color: black;
    height: 1500px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container {
    background-color: black;
    width: 100%;
    height: 100%;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
  }
  .container nav ul {
    display: flex;
    list-style: none;
    margin-right: 60px;
  }
  .container nav ul a {
    text-decoration: none;
    color: red;
    font-family: arial;
    margin: 0 10px;
  }
  nav img {
    width: 60px;
    height: 60px;
    margin: 25px 30px;
    border-radius: 50%;
  }
  .con {
    height: 50%;

    display: flex;
    flex-direction: column;
    gap: 5px;

    align-items: center;
  }
  .text {
    text-align: center;
  }
  .text h1 {
    font-weight: 900;
    color: red;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 20px;
    width: 100%;
    padding: 11px;
  }
  .text p {
    display: block;
    margin-bottom: 30px;
    color: red;
    margin-bottom: 20px;

    height: 100px;
  }
  .con img {
    width: 160px;
    height: 290px;
    border-radius: 10px;
    justify-content: center;
    margin-bottom: 30px;
    margin-right: 45%;
  }
  .cos {
    display: flex;
    flex-direction: row;
    width: 300px;
    height: 50px;

    justify-content: flex-start;
    align-items: center;
    margin-top: 0;
    margin-bottom: 500px;
    margin-left: 130px;
  }
  .t {
    width: 150px;
    height: 80px;
    align-self: center;
    margin-bottom: 300px;
    margin-right: 80%;
  }
  .t img {
    width: 70%;
    height: 80%;
    border-radius: 10px;
  }
  .t img:hover {
    width: 80%;
    height: 80%;
  }
}
@media (max-width: 400px) {
  .container nav ul {
    display: flex;
    list-style: none;
    margin-right: 100px;
  }
  .container nav ul a {
    text-decoration: none;
    color: red;
    font-family: arial;
    margin: 0 5px;
    font-size: 15px;
  }
  nav img {
    width: 60px;
    height: 60px;
    margin: 25px 1px;
    border-radius: 50%;
  }
  .con img {
    width: 130px;
    height: 280px;
    border-radius: 45px;
    justify-content: center;
    margin-bottom: 30px;
    margin-right: 300px;
  }
  .text {
    width: 250px;

    text-align: center;
  }
  .text h1 {
    font-weight: 900;
    color: red;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 20px;
    width: 100%;
    padding: 11px;
  }
  .text p {
    display: block;
    margin-bottom: 30px;
    color: red;
    margin-bottom: 40px;

    height: 100px;
  }
  .t {
    width: 150px;
    height: 80px;
    align-self: center;
    margin-bottom: 300px;
    margin-right: 500px;
  }
  nav {
    display: flex;
    flex-direction: column;

    gap: 10px;
    width: 400px;
    height: 200px;
    justify-content: center;
    align-items: center;

    text-align: center;
  }
  html {
    scroll-behavior: smooth;
  }
  nav img {
    margin-bottom: 0px;
  }

  .container nav ul {
    display: flex;
    list-style: none;
    margin-right: 20px;
    margin-top: 20px;
  }
  .container nav ul a {
    margin: 0 9px;
    font-family: arial;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#home {
  background-color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  background-color: black;
  width: 100%;
  height: 100%;
  margin: 0 60px;
  display: flex;
  flex-direction: column;
}
nav {
  display: flex;
  height: 100px;

  justify-content: space-between;
}
.container nav ul {
  display: flex;
  list-style: none;
  margin: 45px 10px;
}
.container nav ul a {
  text-decoration: none;
  color: red;
  font-family: arial;
  margin: 0 20px;
  transition: 0.3s;
}
.container nav ul a:hover {
  text-decoration: underline aliceblue 2px;
  font-size: 20px;
}
nav img {
  width: 60px;
  height: 60px;
  margin: 25px 30px;
  border-radius: 50%;
}
nav img:hover {
  animation-name: img;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes img {
  0% {
    rotate: 30deg;
  }
  50% {
    rotate: 60deg;
  }
  60% {
    rotate: 90deg;
  }
  85% {
    rotate: 120deg;
  }
  100% {
    rotate: 180deg;
  }
}
.con {
  height: 100%;

  display: flex;
  justify-content: space-between;
}
.text h1 {
  font-weight: 900;
  color: red;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 10px;
  width: 300px;
  padding: 11px;
  transition: width 1s;
}
.text h1:hover {
  background-color: azure;
  border-radius: 20px;
  width: 400px;
  text-align: center;
}
.text h1 span {
  font-size: 50px;
}
.btn {
  text-decoration: none;
  color: rgb(20, 19, 19);
  background-color: white;
  border-radius: 30px;
  width: 50px;
  padding: 10px;
  font-family: arial;
}
.con img {
  width: 180px;
  height: 350px;
  border-radius: 45px;
  margin-top: 40px;
  margin-left: 300px;
  animation-name: r;
  animation-duration: 1.5s;
}
.text {
  margin-top: 80px;
  margin-left: 10px;

  width: 550px;
}
.text p {
  display: block;
  margin-bottom: 30px;
  color: red;
  margin-bottom: 30px;
}

.btn:hover {
  background-color: transparent;
  border: 1px red solid;
  color: white;
}
.cos i {
  color: azure;
  font-size: 30px;
  transition: 0.3s;
}
.cos i:hover {
  font-size: 40px;
}
.cos {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 60px;

  justify-content: center;
  align-items: center;

  height: 250px;
  margin-top: 100px;
}
.t {
  display: flex;
  justify-content: center;

  width: 150px;
  height: 80px;
  margin-left: 500px;

  align-items: center;
  margin-bottom: 50px;
}
.t img {
  width: 80%;
  height: 100%;
  border-radius: 10px;
  transition: 0.3s;
}
.t img:hover {
  width: 100%;
}
@keyframes r {
  0% {
    translate: 500px 0;
    rotate: 90deg;
  }
  50% {
    translate: 100pxpx 0;
    rotate: 90deg;
  }
  100% {
    translate: 0 0;
  }
}
@media (max-width: 700px) {
  #home {
    background-color: black;
    height: 1500px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container {
    background-color: black;
    width: 100%;
    height: 100%;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
  }
  .container nav ul {
    display: flex;
    list-style: none;
    margin-right: 60px;
  }
  .container nav ul a {
    text-decoration: none;
    color: red;
    font-family: arial;
    margin: 0 10px;
  }
  nav img {
    width: 60px;
    height: 60px;
    margin: 25px 30px;
    border-radius: 50%;
  }
  .con {
    height: 50%;

    display: flex;
    flex-direction: column;
    gap: 5px;

    align-items: center;
  }
  .text {
    text-align: center;
  }
  .text h1 {
    font-weight: 900;
    color: red;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 20px;
    width: 100%;
    padding: 11px;
  }
  .text p {
    display: block;
    margin-bottom: 30px;
    color: red;
    margin-bottom: 20px;

    height: 100px;
  }
  .con img {
    width: 160px;
    height: 290px;
    border-radius: 10px;
    justify-content: center;
    margin-bottom: 30px;
    margin-right: 45%;
  }
  .cos {
    display: flex;
    flex-direction: row;
    width: 300px;
    height: 50px;

    justify-content: flex-start;
    align-items: center;
    margin-top: 0;
    margin-bottom: 500px;
    margin-left: 130px;
  }
  .t {
    width: 150px;
    height: 80px;
    align-self: center;
    margin-bottom: 300px;
    margin-right: 80%;
  }
  .t img {
    width: 70%;
    height: 80%;
    border-radius: 10px;
  }
  .t img:hover {
    width: 80%;
    height: 80%;
  }
}
@media (max-width: 400px) {
  .container nav ul {
    display: flex;
    list-style: none;
    margin-right: 100px;
  }
  .container nav ul a {
    text-decoration: none;
    color: red;
    font-family: arial;
    margin: 0 5px;
    font-size: 15px;
  }
  nav img {
    width: 60px;
    height: 60px;
    margin: 25px 1px;
    border-radius: 50%;
  }
  .con img {
    width: 130px;
    height: 280px;
    border-radius: 45px;
    justify-content: center;
    margin-bottom: 30px;
    margin-right: 300px;
  }
  .text {
    width: 250px;

    text-align: center;
  }
  .text h1 {
    font-weight: 900;
    color: red;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 20px;
    width: 100%;
    padding: 11px;
  }
  .text p {
    display: block;
    margin-bottom: 30px;
    color: red;
    margin-bottom: 40px;

    height: 100px;
  }
  .t {
    width: 150px;
    height: 80px;
    align-self: center;
    margin-bottom: 300px;
    margin-right: 500px;
  }
  nav {
    display: flex;
    flex-direction: column;

    gap: 10px;
    width: 400px;
    height: 200px;
    justify-content: center;
    align-items: center;

    text-align: center;
  }
  html {
    scroll-behavior: smooth;
  }
  nav img {
    margin-bottom: 0px;
  }

  .container nav ul {
    display: flex;
    list-style: none;
    margin-right: 20px;
    margin-top: 20px;
  }
  .container nav ul a {
    margin: 0 9px;
    font-family: arial;
  }
}
